@charset "UTF-8";

* {
    margin:0px;
    padding:0px;
}

:root {
    --cor-primario: #4F46E5; /*ROXO AZULADO FORTE */
    --cor-secundaria: #6366F1; /*roxo mais suave */
    --cor-destaque: #22C55E;


    --cor-fundo: #0F172A;
    --cor-card: #FFFFFF;
    --cor-texto: #111827;

}

/*header*/
body, html {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);

}


.hero {
    height: 80vh;

    display:flex;
    flex-direction:column;


    justify-content: center;
    align-items: center;

    text-align:center;

    color:rgba(245, 245, 245, 0.795);


    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(backgrounds/Personagem.jpeg);

    background-size:cover;
    background-position:center;

    gap:20px;
}

h1 {
        max-width: 700px;
        
        line-height:1.4;
        font-size:2.5em
       
}

span {
color: var(--cor-primario);
font-weight: bold;
text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.63);
}


header p {
    max-width:500px;

    color: rgba(255, 255, 255, 0.473);
}

p:hover {
    color:  #7f8081;
    transition-duration: 0.5s;
}

#comprar {
    display:inline-block;

    padding: 16px 40px;

    background: linear-gradient(135deg, #22C55E, #16a34a);

    color:White;

    text-decoration:none;

    border-radius:10px;

    box-shadow: 0px 10px 25px rgba(0,0,0,0.25);

    font-family:'Times New Roman', Times, serif;
    font-size:1em;
}

#comprar:hover {
color:black;
transition-duration: 0.5s;
}

.divisor {
    display:flex;
    justify-content:center;
    align-items: center;
    margin:40px 0px;
}


.divisor::after, .divisor::before {
    content:"";
    height:1px;
    flex:1;
    background:white;
    display:block;
}


.divisor span {
    margin:0px 15px;
    font-size:25px;
    background-color:var(--cor-primario);
    color:white;
}


/*conteudo*/

.beneficios {
    padding:20px;
    text-align:center;
}

.cards {
    display:flex;
    justify-content: center;
    gap: 20px;
    margin-top:40px;
}

.card {
    color:black;
    background: var(--cor-card);
    padding:10px;
    border-radius:10px;
    width: 250px;
    

    box-shadow:-5px 0px 7px #4e46e525;
    background-color:black;
    transition: transform 0.3s, box-shadow 0.5s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 7px 25px #595cfc71;

}

.beneceficios > h2 {
    color:var(--cor-secundaria)
}
.card h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.5em;
    color:white;
}

.card p {
    color:gray;
}
